#img {
    display: flex;
    width: 100%;
    height: 100vh; /* Ocupa todo el alto de la pantalla */
}

.images {
    display: flex;
    width: 100%;
    height: 100%;
}

.ima1 {
    object-fit: cover;  /* Ajusta la imagen para cubrir el área sin distorsionar */
    width: 50%;         /* La imagen de la izquierda ocupará la mitad del contenedor */
    height: 100%;
}

.ima3 {
    object-fit: cover;  /* Mantiene el aspecto y cubre todo el contenedor */
    width: 50%;         /* La imagen de la derecha ocupará la otra mitad */
    height: 100%;
}
